<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet">
    {% block title %}<title>base</title>{% endblock %}
</head>
<body>
    <header class="header">
        <div class="top">
            <p class="tel">TEL:15111111111</p>
            <p>{{ request.user.get_mes_count }}</p>
{#            {{ forloop.counter|divisibleby:'5' }} 被5整除的判断  #}
            <div class="login">
{#                {% if request.user.is_authenticate %}#}
                <a href="{% url 'users:register' %}">注册</a>
{#                <p> {{ request.user.usersname }}</p>#}
                <a href="{% url 'users:login' %}">登录</a>
                <a href="">个人中心</a>
{#                {% endif %}#}
            </div>
        </div>
        <div class="toplogo">
            <img src="{% static 'img/logo.jpg' %}" class="logo" />
            <input class="search" placeholder="search"> </input>
            <button type="button" class="searchbtu" id="jssearch">搜索</button>
{#            <span id="jssearch" class="jssrearchbtu" data-value="gkk">公开课</span>#}
{#            <ul id="jsselect" class="jsselect" >#}
{#                <li data-value="org">机构</li>#}
{#                <li data-value="teacher">老师</li>#}
{#                <li data-value="course">课程</li>#}
{#            </ul>#}
        </div>
        {% block menu %}<menu class="nav">
            <ul class="navlist">
                <li><a href="#">首页</a></li>
                <li><a href="{% url 'orgs:orgs' %}">机构</a></li>
                <li><a href="#">课堂</a></li>
                <li><a href="#">老师</a></li>
            </ul>
        </menu>{% endblock %}
    </header>

    {% block main %}

    {% endblock %}

    {% block footer %}<footer class="footer">
        <div class="footerInfo">tihs is footer</div>
        <img src="#">
    </footer>{% endblock %}
</body>
<script>
    $(function () {

        $('#jssearch').click(function () {
                var search_type = $('#jssearch').attr('data-value');
                var keyword = $('#jssearch').val();
                var url = '';


                if (search_type == 'org'){
                    url = '{% url 'orgs:orgs' %}'
                }else if(search_type == 'teacher'){
                    url = '{% url 'orgs:orgs' %}'
                }else{
                    url = '{% url 'coures:couresinfo' %}'
                }

                url = url+'?keyword='+keyword
                window.location.href = url

            })

        })

</script>

</html>