<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgetpwd</title>
</head>
<body>
   <div>
        <div class="left"></div>
        <div class="right">
            <form action="/users/forgetpwd/" method="post">
                {% csrf_token %}
                <input type="text"  name="email" placeholder="username"/>
                <p class="captcha">{{ forget_pwd.captcha }}</p>
                {{ user_register_form.captcha }}
                <input type="submit" value="submit" />
            </form>
            <p>
                {{ msg }}
                {% for key , err in forget_pwd.errors.items %}
                    {{ err }}
                {% endfor %}
            </p>
        </div>
    </div>
</body>
<script>
    $(function () {
        $('.captcha').click(function () {
            window.location.reload()
        })
    })


</script>

</html>