<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset</title>
</head>
<body>
      <div>
        <div class="left"></div>
        <div class="right">
            <form action="{% url 'users:users_reset' code %}" method="post">
                {% csrf_token %}
                <input type="password"  name="password" placeholder="password" />
                <input type="password"  name="password1" placeholder="reenter password"/>
                <input type="submit" value="submit" />
            </form>
            <p>
                {{ msg }}
                {% for key , err in user_reset_form.errors.items %}
                    {{ err }}
                {% endfor %}
            </p>
        </div>
    </div>
</body>
</html>